// ==============================
// Custom style
// 自定义样式
// ==============================

img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

.post-warp .post-content img {
    max-width: 100%;
}
